<h1>Test de notification de couleur</h1>
<p><a class="btn btn-info" ng-click="abonnementAuxCouleurs()">S'abonner aux notifications</a>  {{pipo}}</p>
<p>Etat actuel :
	<span class="badge badge-danger" ng-show="!connected">Déconnecté</span>
	<span class="badge badge-success" ng-show="connected">Connecté</span>
</p>
<p>La couleur actuelle est <span class="badge">{{ couleur }}</span> {{ reponse }}</p>
<p>Changer en : </p>
<ul class="list-group list-group-horizontal ">
	<li class="list-group-item list-group-item-action" ng-repeat="newCouleur in listeCouleursDisponibles"
		ng-click="demanderChangerCouleur(newCouleur)">
		{{newCouleur}}
	</li>
</ul>

<div >
	<div  ng-repeat="x in listeX">
		<div  ng-repeat="y in listeY">
			<boite x="{{ x }}" y="{{ y }}" couleur="{{ couleur }}" class="float-left"></boite>
		</div>
	</div>
</div>
