<h1>Test de notification topic dynamique</h1>
<div class="form-inline"><input class="form-control" ng-model="topicName" placeholder="Nom du topic" name="topic_name"/>
	<a class="btn btn-info" ng-click="abonnementAuTopic(topicName)">S'abonner aux notifications</a></div>
<p>Etat actuel :
	<span class="badge badge-danger" ng-show="!connected">Déconnecté</span>
	<span class="badge badge-success" ng-show="connected">Connecté</span>
</p>
<p>Messages: {{ messages }}</p>
<p class="form-inline">Envoyer un message :
	<input class="form-control" ng-model="auteur" placeholder="Auteur" name="auteur"/>
	<input class="form-control" ng-model="message" placeholder="Message" name="message"/>
	<a class="btn btn-info" ng-click="envoyerMessage(topicName,message, auteur)">Envoyer</a>{{reponse}}</p>

